/* RESET */
*{
    margin: 0;
    box-sizing: border-box;
}

/* FLEX */
main,
.card,
.card_header,
.card_content,
.card_footer,
.toggle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


/* STYLE DARK MODE*/
.main_dark{
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    background-image: url(/images/bg-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    transition: all 300ms;
    
}

.card{
    height: 600px;
    width: 450px;
    background: hsla(0, 0%, 100%, 0.187);
    border-radius: 10%;
    backdrop-filter: blur(15px);
    box-shadow: hsla(0, 0%, 0%, 0.200) 10px 5px 20px;
    font-family: 'Akshar', sans-serif;
    font-size: 1em;
    justify-content: space-between;
}

.card_header{
    width:90%;
    flex: 2;
    justify-content: center;
}

.card_header>h1{
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: .2em;
}

.card_header>h2, h3{
    font-weight: 300;
}

.card_content{
    flex:4;
    width: 80%;
    font-size: 5em;
    background: red;
    background-image: url(/images/profile.jpeg);
    border-radius: 15%;
}

.card_footer{
    width: 100%;
    flex: 1;
    flex-direction: row;
}

.card_footer>img{
    width: 2em;
}

.toggle{
    flex-direction: row;
    justify-content: space-around;
    width: 15vw;
}

.toggle>img{
    height: 1.5em;
    filter: brightness(1),
}

/* BOUTON SWITCH */
.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 40px; /* Modif taille */
    height: 1em;
    width: 2em;
    border-radius: 1em;
}

.switch_dark{
    background: #e0ccad;
    transition: all 300ms;
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    transition: all 300ms;
}

.switch input:checked + div {
    transform: translate3d(100%, 0, 0);
}

/* LIGHT MODE */

/* MAIN */
.main_light{
    color: #18223c;
    background-image: url(/images/bg-light.svg);
    transition: all 300ms;
}

/* SWITCH */

.switch_light{
    background: #18223c;
    transition: all 300ms;
}





