/* RESET */
body{
    margin: 0;
    box-sizing: border-box;
}

/* FLEX */
main,
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


/* STYLE DARK MODE*/
.main-dark{
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    background-image: url(/images/bg-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
}

.card{
    height: 600px;
    width: 500px;
    background: hsla(0, 0%, 100%, 0.187);
    border-radius: 10%;
    backdrop-filter: blur(15px);
    box-shadow: hsla(0, 0%, 0%, 0.200) 10px 5px 20px;
}

.card_text{
    
    font-family: 'Akshar', sans-serif;
    font-size: 3em;
    text-align: center;
}

/* BOUTON SWITCH */
.switch input {
    position: absolute;
    opacity: 0;
}

.switch {
    display: inline-block;
    font-size: 40px; /* Modif taille */
    height: 1em;
    width: 2em;
    border-radius: 1em;
}

.switch_dark{
    background: #e0ccad;
    transition: all 300ms;
}

.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    transition: all 300ms;
}

.switch input:checked + div {
    transform: translate3d(100%, 0, 0);
}

/* LIGHT MODE */

/* MAIN */
.main-light{
    color: #18223c;
    background-image: url(/images/bg-light.png);
}

/* SWITCH */

.switch_light{
    background: #18223c;
    transition: all 300ms;
}




